<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>JS Bin</title>
	<!-- Chart.js v2.4.0 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


</head>
<body>
<div style = "margin:200px;margin-bottom:200px">
    <canvas id="myChart" width="" height="150px"></canvas>
</div>

<div style = "margin:200px;margin-bottom:200px">
    <canvas id="myChart1" width="" height="150px"></canvas>
</div>

<div style = "margin:200px;margin-bottom:200px">
    <canvas id="myChart2" width="" height="150px"></canvas>
</div>



<script>
  function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
	var csrftoken = getCookie('csrftoken');


	function getRandomColor() {
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i < 6; i++ ) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {

									type: 'bar',

									data: {

											labels: ["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
											datasets:
											[
												{
													data: [{%for price in price%} '{{price}}', {% endfor %}],
													label:["價錢"],
													backgroundColor:getRandomColor(),
													borderColor: 'rgba(255, 99, 132, 0.2)',
												},

												]
									},
									options: {

											scales: {
													xAxes: [{
																			display: true,
																			scaleLabel: {
																					display: true,
																					labelString: '交易月份'
																			}
																	}],
																	yAxes: [{
																			display: true,
																			scaleLabel: {
																					display: true,
																					labelString: '價錢'
																			}
																	}]
											},
									},

							})

var ctx1 = document.getElementById('myChart1').getContext('2d');
var myChart1 = new Chart(ctx1, {

									type: 'bar',

									data: {

														labels: ["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
														datasets:
														[
															{
																data: [{%for quantity in quantity%} '{{quantity}}', {% endfor %}],
																label:["數量"],
																backgroundColor:getRandomColor(),
																borderColor: 'rgba(255, 99, 132, 0.2)',
															},

															]
												},
									options: {

														scales: {
																xAxes: [{
																						display: true,
																						scaleLabel: {
																								display: true,
																								labelString: '交易月份'
																						}
																				}],
																				yAxes: [{
																						display: true,
																						scaleLabel: {
																								display: true,
																								labelString: '數量'
																						}
																				}]
														},
												},

							})


var ctx2 = document.getElementById('myChart2').getContext('2d');
var myChart2 = new Chart(ctx2, {

																type: 'bar',

																data: {

																					labels: [{%for i in town%} '{{i}}', {% endfor %}],
																					datasets:
																					[
																						{
																							data: [{%for i in t_price%} '{{i}}', {% endfor %}],
																							label:["價錢"],
																							backgroundColor:getRandomColor(),
																							borderColor: 'rgba(255, 99, 132, 0.2)',
																						},

																						]
																			},
																options: {

																					scales: {
																							xAxes: [{
																													display: true,
																													scaleLabel: {
																															display: true,
																															labelString: '交易月份'
																													}
																											}],
																											yAxes: [{
																													display: true,
																													scaleLabel: {
																															display: true,
																															labelString: '數量'
																													}
																											}]
																					},
																			},

														})




</script>
</body>
</html>
